/* Bio area */
div.logo {
    margin-top: 1em;
}

div.logo img {
    border-radius: 500px;
    max-width: 100%;
    margin: auto;
    display: block;
}

.nav-container {
    margin: 1em auto;
    max-width: 250px;
}

.title {
    font-size: 1.42em;
}

.subtitle {
    font-size: 1em;
    font-weight: bold;
}

.subtext {
    margin-top: 1em;
}

/* Override colors */
html {
    --pst-color-primary: #8b2004 !important;
}

html .search-button {
    opacity: 0 !important;
    display: none !important;
}

.bd-footer {
    display: inline-block;
}

html .theme-switch-button {
    opacity: 0 !important;
    display: none !important;
}

@media screen and (min-width: 992px) {
    html #navbar-main {
        display: none !important;
        height: 0px !important;
    }
}

@media screen and (min-width: 960px) {
    .bd-sidebar-primary {
        overflow-y: hidden !important;
        overflow-x: hidden !important;
    }
}

.links a {
    font-size: 1.25em;
    margin-bottom: 25px !important;
}